html
  head
    link(rel="stylesheet" href="./main.css")
  body
    div.container
      h1 React Auto Kana
      div.block
        h2 Simple Example
        div#normaly-container
          | Loading...
      div.block
        h2 Logic Comparison
        div#container
          | Loading...
    script(src="./dist/build.js")