html
  head
    link(rel="stylesheet" href="./main.css")
  body
    div.container
      h1
        a(href="https://github.com/suisho/react-kana-input")
          | React Kana Input
      div.block
        h2 Simple Example
        div#normaly-container
          | Loading...
      div.block
        h2 Logic Comparison
        div#container
          | Loading...
    script(src="./dist/build.js")