// http://app.coolors.co/e6eed6-dde2c6-bbc5aa-a72608-090c02
// http://app.coolors.co/0c090d-e01a4f-ccdbdc-f7f7ff-4ba3c3
// http://app.coolors.co/253b3d-e01a4f-f7f7ff-ccdbdc-4ba3c3
$color1= #253B3D;
$color2= #e01a4f;
$color3= #ccdbdc;
$color4= #f7f7ff;
$color5= #4ba3c3;

$blocks       = $color3;
$bg           = $color4;
$middleColor  = $color5;
$impactColor  = $color2;
$fontColor    = $color1;

$width = 40em
$breakpoint = 40em

*
  box-sizing: border-box
body
  background : $bg;
  font-family : 'Cuprum'
  color: $fontColor;
.heading
  text-align : center;
  h1
    font-family : 'Oswald';
    font-size : 48px;
    margin-bottom: 0px;
    @media screen and (max-width: $breakpoint)
      font-size 32px;
    a
      color : $impactColor;
      font-weight : 700
  pre
    margin-top 0px;

h2,
h3
  color : $middleColor;
h3
  font-size: 14px;

.container
  margin : 2em auto;
  max-width : 40em;

.block
  background : $blocks;
  border-radius : 5px;
  padding : 2em;
  margin-bottom: 1em;
input
  font-size : 1em;
  padding : 0.5em;
  margin : 1em;
  border-radius: 5px;
  border : 1px solid $middleColor;
button
  padding : 0.5em;
  margin : 1em;
  border-radius : 0.5em;

.input-block,
.debug-block,
.kana-block
  vertical-align: top;
  width : 50%
  display: inline-block
  @media screen and (max-width: $breakpoint)
    display:block

.ribbon
  @media screen and (max-width: $breakpoint)
    display none

pre
  code
    word-break: break-word;