body
  background : #ccc;
#container
  margin : 2em auto;
  width : 30em;
  background : #fff;
  padding : 2em;
  border-radius : 5px;

input
  padding : 0.5em;
  margin : 1em;

button
  padding : 0.5em;
  margin : 1em;
  border-radius : 0.5em;
